*{
  margin:0;
  padding:0;
  font-family: sans-serif;
}
.Main {
  text-align: center;
  margin:20px;
  padding: 20px;
  border: 10px solid rgb(228, 128, 128);
  background-color: #dbdbdb;
}

.home{
  margin-top: 20vh;
  text-align: center;
  font-family: sans-serif;
}

.home h1 {
  font-size: 70px;
  color: rgb(109, 62, 185);
}

.home p {
  font-size: 50px;
}


nav {
  position: sticky;
  left: 0;
  top:0;
  z-index: 10000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6vh;
  background: rgb(178, 218, 221);
  color: silver;
}


.nav-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
  margin:0;
  padding: 0;
}

.nav-link li {
  color: rgb(68, 68, 68);
  font-size: 30px;
  font-family: 'Comic Sans MS';
  width: 100%;
  height:100%;
}


.tableBody li {
  list-style-type: none;
  background-color: rgb(141, 210, 238);
  margin:10px;
  padding:10px;
  font-size: 20px;
  font-family: san-serif;
  color:#29292b;
}

.nav-link li:hover{
  cursor: pointer;
  color: rgb(131, 75, 75);
}

.tableBody {
  border: 2px solid gray;
  padding: 0;
}

button:disabled {
  color: #ffe600;
  filter: brightness(80%);
}

button {
  border-radius: 5px;
  background-color: rgb(98, 98, 98);
  color:rgb(180, 212, 224);
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
}

button:hover{
  color:#c9ee50;
  cursor: pointer;
  background-color: #29292b;
}

form {
  margin-top: 50px;
}

.favorite , .recentlyDeleted{
  border: 3px dotted rgb(199, 173, 28);
  font-size: 20px;
  color: #3e4042;
  font-weight: bold;
  min-height: 60px;
  margin-top: 20px;
}
.favorite li {
  color:#2b2c2a;
  font-size: 16px;
  font-weight: 400;
}

.newEntry{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bodySeparation {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.spaceXNav {
  margin: 0;
  position: sticky;
  left: 0;
  top:6vh;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(73, 73, 73);
  width: 100%;
  flex-wrap:inherit;
  margin:0;
}
.spaceXNav li {
  color: rgb(176, 192, 188);
  font-size: 20px;
  font-family: 'Comic Sans MS';
  list-style-type: none;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 7vh;
}
.spaceXNav li:hover {
  display: inline-block;
  color:rgb(185, 109, 109);
  background: rgb(34, 34, 34);
  cursor: pointer;
}

.spaceXbody {
  text-align: center;
  width: 100vw;
}

.spaceXbody h1 {
  font-size: 70px;
  font-family: 'Comic Sans MS';
  color:#290f0f
}

.spaceXbody ul li{
  padding:15px;
  margin: 15px;
  width: 100%;
  background-color: rgb(235, 226, 209);
  font-size: 20px;
  border-radius: 15px;
  color:#29292b;
  list-style-type: none;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.SearchBar {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.SearchBar input {
  width: 60vw;
  height: 30px;
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
}
.SearchBar button {
  height: 30px;
  width: 60px;
  margin: 0;
  margin-left: 15px;
  padding: 0px;
  border: 1px solid black;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.pagination {
  font-family: 'san-serif';
  font-style: italic;
  font-size: 20px;
  border:1px solid black;
  color: white;
  background-color: black;
  border-radius: 10px;
  margin:5px;
}


.pagination:hover{
  cursor: pointer;
  color:#df5e5e;
  background-color: silver;
}

.pageH1 {
  text-align: center;
  font-size: 70px;
  font-family: 'Comic Sans MS';
  color:#a37e2d;
}

.movieBody{
  display: flex;
  width: 100%;
  margin-top: 50px;
  height: 60vh;
}

.result{
  text-align: center;
  height: 60vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.movieDisplay {
  border: 1px dashed;
  border-radius: 15px;
  background-color: burlywood;
  width: 20vw;
  min-height: 150px;
}

.nomination{
  text-align: center;
  height: 60vh;
  width: 50vw;
  border-left: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h2 {
  font-size: 40px;
  font-family: 'Comic Sans MS';
  color:#5a1313;
}

.movieDisplay h2 {
  font-size: 25px;
  font-family: 'Comic Sans MS';
  color:#461111;
}
.movieDisplay button {
  font-size: 15px;
  font-family: 'Comic Sans MS';
  color:#e6e6e6;
  background-color: #000000;
  width: 100px;
}

.movieDisplay button:hover{
  background-color:#343436 ;
  color:#bea9a9
}
.movieDisplay p{
  font-size: 14px;
}

.pactors {
  color:rgb(75, 95, 97);
}